:root{
    --font-family: "Poppins", serif;
    --font-weight: 600;
    --font-style: normal;
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.top{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 2vh;
    background-color: black;
    color: white;
    font-family: var( --font-family);
}
#signup{
    color: white;
}
.Header{
    display: flex;
    align-items: center;
    /* background-color: rgb(234, 157, 55); */
    gap: 4%;
    font-family: var( --font-family);
    justify-content: space-around;
    border-bottom: 3px solid rgba(128, 128, 128, 0.3);
}
.logo{
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
}
#options{
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background: transparent;
    border: none;
    font-size: 1.2em;
}

.links{
    display: flex;
   gap: 30px;
}
a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    transition: 2s;
}
a:hover{
    text-decoration: underline;
   
}
#Search{
    width: 30vw;
    height: 50px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-family: var( --font-family);
    background-color: #d1cecef0;
}
#Search::placeholder{
    font-size: large;
}
.end{
    display: flex;
    gap: 30px;
}
#login,#cart{
    align-self: self-end;
    position: relative;
    right: 30px;
}
button{
    background: none;
    border: none;
    position: relative;
    left: 70px;
    top: 10px;
}

main{
    width: 100%;
    height: 86vh;
    background-color: rgba(128, 128, 128, 0.277);
}
.section-Head{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var( --font-family);
}
section{
    /* display: grid; */
    display: flex;
    width: 100%;
    height: 45vh;
    /* grid-template-columns: repeat(4,23%);
    grid-template-rows: repeat(2,40vh); */
   justify-content: space-around;

}

.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 50px;
    width: 20%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 200;
    color: white;
    background-image: url("https://gimgs2.nohat.cc/thumb/f/640/dark-blue-product-background-free-photo--6e7213af8b2b41e7a10c.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}
.images {
    width: 300px;
    height: 300px;
    transition: 1s;
    border-bottom: 5px solid rgb(158, 144, 144);
    border-radius: 50px;

}
.images:hover{
  width: 325px;
  height: 325px;
}
section2{
    /* display: grid; */
    display: flex;
    width: 100%;
    height: 50vh;
    /* grid-template-columns: repeat(4,23%);
    grid-template-rows: repeat(2,40vh); */
   justify-content: space-around;
}
.name{
    text-align: center;
}

#main-section{
    width: 100%;
    /* height: auto; */
   background-color: pink;
}

.rating{
    display: flex;
}
/* ------------------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>DESIGNINING PRODUCT<<<<<<<<<<<<<<<<<<<<<<<<<<------------------------------------  */
.leftarrow{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    transition: 1s;
}
.leftarrow:hover{
    transform: rotate(-180deg);
}

#Product-section{
    width: 100%;
    height: 100vh;
    margin-top: 15px;
    display: flex;
}

.product_image{
   width: 500px;
   height: 500px;
   border: 2px solid black;
}
.Product-description{
    width: 45%;
    height: 75%;
}
.Product-description,.Product-image{
    border: 1px solid gray;
}